* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

.ordering{
    padding-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.form{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 38%;
    padding-bottom: 100px;
}

.form input, select, textarea{
    width: 100%;
    margin-bottom: 10px;
}

#output{
    width: 38%;
    margin: 0 auto;
    display: none;
}

#output button{
    width: 100%;
}

#orders{
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
}

#resultsGraph{
    width: 80%;
    margin: 0 auto;
    display: none;
}

.count{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.graph{
    width: 100%;
    height: 200px;
    margin: auto;
}

#optionOne, #optionTwo, #optionThree, #optionFour{
    width: 0%;
    background-color: #006298;
    height: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}